@keyframes loading {
  100% {
    transform: rotate(360deg);
  }
}

.loading-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-icon {
  width: 200px;
  animation-name: loading;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

.error {
  color: var(--error);
  margin-top: 15rem;
  text-align: center;
  font-size: 2.5rem;
}

.account-name {
  display: flex;
  margin-top: 10rem;
  display: flex;
  justify-content: center;
  gap: 1.3rem;
  align-items: center;
}

.avatar-container {
  width: 70px;
  height: 70px;
  border: 1px solid var(--border);
  border-radius: 50%;
  overflow: hidden;
}

.avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.username {
  font-size: 3rem;
}

.account-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  gap: 1rem;
}

.account-stats {
  padding: 1rem;
  width: max-content;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  border: 1px solid var(--border);
  background-color: var(--card-background);
}

.requests-btn {
  font-size: 1.3rem;
  font-family: inherit;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--border);
  background-color: var(--btn-secondary);
  cursor: pointer;
  transition: transform 0.3s;
}

.requests-btn:hover {
  transform: scale(1.05);
}

.account-posts {
  font-size: 1.3rem;
  cursor: default;
}

.following-btn {
  font-size: 1.3rem;
  border: none;
  background-color: transparent;
  transition: transform 0.3s;
  font-family: inherit;
}

.following-btn:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.unfollow-btn,
.follow-btn {
  font-size: 1.3rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  transition: transform 0.3s;
}

.unfollow-btn:hover,
.follow-btn:hover {
  transform: scale(1.05);
}

.unfollow-btn {
  background-color: var(--btn-secondary);
}

.follow-btn {
  background-color: var(--btn);
  color: white;
}

.follow-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 2.5rem;
}

.follow-msg {
  text-align: center;
  font-size: 1.3rem;
  opacity: 0.7;
}

.lock-icon {
  width: 25px;
  opacity: 0.85;
}

.posts-heading {
  font-size: 2.5rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: center;
}

.posts-loading-container {
  display: flex;
  justify-content: center;
  margin: 4rem auto;
}

.posts-loading-icon {
  display: inline-block;
  width: 100px;
  animation-name: loading;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

.posts-error {
  color: var(--error);
  text-align: center;
  margin-top: 2.5rem;
  font-size: 1.1rem;
  opacity: 0.75;
}

.no-posts-msg {
  font-size: 1.2rem;
  opacity: 0.6;
  text-align: center;
  margin-top: 2.5rem;
}

.posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin: 2rem auto;
}
