@keyframes loading {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes flash {
  0% {
    opacity: 0.6;
    transform: scale(1);
  }
  50% {
    opacity: 0.4;
    transform: scale(1.05);
  }
  100% {
    opacity: 0.6;
    transform: scale(1);
  }
}

.h1 {
  text-align: center;
  margin: 9rem auto 6.5rem;
  font-size: 5rem;
  cursor: default;
}

.loading-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.loading-msg {
  font-size: 2rem;
  animation-name: flash;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

.loading-icon {
  width: 35px;
  animation-name: loading;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  opacity: 0.7;
}

.error {
  text-align: center;
  color: var(--error);
  font-size: 1.7rem;
  opacity: 0.8;
}

.no-posts-msg {
  text-align: center;
  font-size: 1.8rem;
  opacity: 0.7;
  cursor: default;
}

.find-people-link {
  display: block;
  width: max-content;
  margin: 2rem auto;
  text-decoration: none;
  background-color: var(--btn-secondary);
  color: black;
  font-size: 1.8rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  opacity: 0.7;
  transition: transform 0.5s;
}

.find-people-link:hover {
  transform: scale(1.1);
}

.posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin: 2rem auto;
}
