.container {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  grid-auto-rows: 55px;
  width: 100%;
  list-style-type: none;
  border-left: 1px solid var(--border);
  border-right: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
  background-color: var(--card-background);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.no-accounts-msg {
  justify-self: center;
  font-size: 1.2rem;
  opacity: 0.8;
  cursor: default;
}

.listing {
  padding: 0.5rem;
  border-bottom: 1px solid var(--border);
  display: flex;
  gap: 0.5rem;
  font-size: 1.2rem;
  align-items: center;
}

.listing:last-child {
  border-bottom: none;
}

.avatar-container {
  width: 35px;
  height: 35px;
  border: 1px solid var(--border);
  border-radius: 50%;
  overflow: hidden;
}

.avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.username {
  opacity: 0.9;
}

.btn {
  font-size: 1.1rem;
  width: 100px;
  padding: 0.5rem 0;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: transform 0.3s;
  background-color: var(--btn-secondary);
  margin-left: auto;
}

.btn:hover {
  transform: scale(1.05);
}

.follow-btn {
  background-color: var(--btn);
  color: white;
}

.modal-backdrop {
  background-color: black;
  opacity: 0.2;
  top: 0;
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

.unfollow-modal {
  position: fixed;
  z-index: 2;
  background-color: var(--card-background);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--border);
  border-radius: 0.5rem;
  gap: 2rem;
  padding: 2rem;
  width: clamp(300px, 65%, 650px);
}

.modal-question {
  font-size: 2.5rem;
  text-align: center;
}

.modal-btns {
  display: flex;
  gap: 1rem;
}

.modal-btn {
  font-size: 1.3rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  transition: transform 0.3s;
}

.modal-btn:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.modal-unfollow-btn {
  background-color: var(--btn);
  color: white;
}

.modal-no-btn {
  background-color: var(--btn-secondary);
}
