.container {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  grid-auto-rows: 55px;
  width: 100%;
  list-style-type: none;
  border-left: 1px solid var(--border);
  border-right: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
  background-color: var(--card-background);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.no-accounts-msg {
  justify-self: center;
  font-size: 1.2rem;
  opacity: 0.8;
  cursor: default;
}
