@keyframes loading {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.backdrop {
  background-color: black;
  opacity: 0.2;
  top: 0;
  left: 0;
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

.modal {
  position: fixed;
  z-index: 2;
  background-color: var(--card-background);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--border);
  border-radius: 0.5rem;
  padding: 2rem 1rem;
  width: clamp(300px, 70%, 500px);
  height: 60%;
}

.modal-heading {
  font-size: 1.8rem;
  margin-bottom: 3rem;
}

.loading-container {
  position: relative;
  height: 100%;
}

.loading-icon {
  position: absolute;
  top: calc(50% - 30px);
  left: 50%;
  width: 100px;
  animation-name: loading;
  animation-iteration-count: infinite;
  animation-duration: 1.5s;
}

.error {
  color: var(--error);
  opacity: 0.85;
}

.no-requests-msg {
  font-size: 1.1rem;
  opacity: 0.7;
}

.requests-section {
  width: 100%;
  overflow: auto;
}
