.backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.4;
  z-index: 2;
}

.modal {
  z-index: 3;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--card-background);
  border: 1px solid var(--border);
  border-radius: 0.5rem;
  padding: 2rem;
  width: clamp(350px, 60%, 650px);
  height: 65%;
  overflow-y: auto;
  gap: 2rem;
  display: flex;
  flex-direction: column;
}

.heading {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.error {
  color: var(--error);
  opacity: 0.7;
  text-align: center;
}

.form {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr max-content;
  gap: 1rem;
}

.post-content {
  width: 100%;
  resize: none;
  height: 100%;
  padding: 0.5rem;
  font-size: 1.2rem;
  border: 2px solid var(--border);
}

.post-btn {
  font-size: 1.3rem;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--btn);
  color: white;
  justify-self: end;
  transition: transform 0.3s;
  cursor: pointer;
}

.post-btn:hover {
  transform: scale(1.05);
}
