@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes glowRed {
  0% {
    text-shadow: none;
  }
  50% {
    text-shadow: 0 0 4px rgba(255, 0, 0, 0.6);
  }
  100% {
    text-shadow: none;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.4;
  z-index: 2;
}

.post {
  z-index: 3;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--card-background);
  border: 1px solid var(--border);
  border-radius: 0.5rem;
  padding: 1.5rem;
  width: clamp(350px, 60%, 650px);
  height: 65%;
  overflow-y: auto;
  gap: 2rem;
  display: flex;
  flex-direction: column;
}

.loading-icon {
  width: 150px;
  animation-name: rotate;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  position: absolute;
  justify-self: center;
  align-self: center;
}

.error {
  color: var(--error);
  font-size: 1.3rem;
  text-align: center;
  justify-self: center;
  align-self: center;
  animation-name: glowRed;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.author-section {
  display: flex;
  gap: 0.6rem;
  align-items: center;
}

.avatar-container {
  width: 35px;
  height: 35px;
  border: 1px solid var(--border);
  border-radius: 50%;
  overflow: hidden;
}

.avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.author {
  font-size: 1.5rem;
  font-weight: 600;
  opacity: 1;
  margin-bottom: 0.4rem;
  position: relative;
  top: 3px;
}

.link {
  transition: transform 0.3s;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.link:hover {
  transform: scale(1.05);
}

.content {
  font-size: 1.8rem;
  opacity: 0.8;
  margin-bottom: 0.8rem;
  white-space: pre-wrap;
  font-family: inherit;
}

.post-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post-date {
  opacity: 0.6;
  font-size: 1.2rem;
  align-self: end;
  cursor: default;
}

.comments-heading {
  font-size: 1.3rem;
  font-weight: bold;
  padding-left: 0.5rem;
  margin: -0.5rem 0;
  opacity: 0.9;
}

.comments-list {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  flex: 1;
}

.comments-loading-icon {
  width: 100px;
  position: relative;
  top: 20%;
}

.comments-error {
  color: var(--error);
  animation-name: glowRed;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  font-size: 1.2rem;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  width: max-content;
}

.no-comments-msg {
  opacity: 0.7;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -200%);
  width: max-content;
}

.add-comment-form {
  display: grid;
  grid-template-columns: 1fr 35px;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}

.comment-input {
  resize: none;
  padding: 0.5rem;
  font-size: 1.05rem;
}

.send-comment-btn {
  border: none;
  background-color: transparent;
  transition: transform 0.3s;
}

.send-comment-btn:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.send-icon {
  width: 25px;
}

.comment {
  padding: 1rem;
  border-width: 1px 1px 0px 1px;
  border-style: solid;
  border-color: var(--border);
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.comment:last-child {
  border-bottom: 1px solid var(--border);
}

.comment-author-section {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.commenter-avatar-container {
  width: 25px;
  height: 25px;
  border: 1px solid var(--border);
  border-radius: 50%;
  overflow: hidden;
}

.commenter-avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.comment-author {
  font-weight: bold;
  font-size: 1.1rem;
  transition: transform 0.3s;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.comment-author:hover {
  transform: scale(1.05);
}

.comment-content {
  opacity: 0.9;
  font-size: 1.2rem;
  white-space: pre-wrap;
}

.comment-date {
  align-self: end;
  opacity: 0.6;
}
