@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes glowRed {
  0% {
    text-shadow: none;
  }
  50% {
    text-shadow: 0 0 4px rgba(255, 0, 0, 0.6);
  }
  100% {
    text-shadow: none;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.4;
  z-index: 2;
}

.post {
  z-index: 3;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--card-background);
  border: 1px solid var(--border);
  border-radius: 0.5rem;
  padding: 1.5rem;
  width: clamp(500px, 65%, 900px);
  height: 65%;
  overflow-y: auto;
  gap: 2rem;
  display: flex;
  flex-direction: column;
}

.loading-icon {
  width: 150px;
  animation-name: rotate;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  position: absolute;
  justify-self: center;
  align-self: center;
}

.error {
  color: var(--error);
  font-size: 1.3rem;
  text-align: center;
  justify-self: center;
  align-self: center;
  animation-name: glowRed;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.author {
  font-size: 1.5rem;
  font-weight: 600;
  opacity: 1;
  margin-bottom: 0.4rem;
}

.content {
  font-size: 1.8rem;
  opacity: 0.8;
  margin-bottom: 0.8rem;
}

.post-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post-date {
  opacity: 0.6;
  font-size: 1.2rem;
  align-self: end;
  cursor: default;
}

.comments-heading {
  font-size: 1.3rem;
  font-weight: bold;
  padding-left: 0.5rem;
  margin: -0.5rem 0;
  opacity: 0.9;
}

.comments-list {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  flex: 1;
}

.comments-loading-icon {
  width: 100px;
  position: relative;
  top: 20%;
}

.comments-error {
  color: var(--error);
  animation-name: glowRed;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  font-size: 1.2rem;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  width: max-content;
}

.no-comments-msg {
  opacity: 0.7;
  font-size: 1.7rem;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  width: max-content;
}

.comment {
  padding: 1rem;
  border-width: 1px 1px 0px 1px;
  border-style: solid;
  border-color: var(--border);
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.comment:last-child {
  border-bottom: 1px solid var(--border);
}

.comment-author {
  font-weight: bold;
}

.comment-content {
  opacity: 0.9;
  font-size: 1.2rem;
}

.comment-date {
  align-self: end;
  opacity: 0.6;
}
