.h1 {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 8rem;
  cursor: default;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3rem auto;
  width: clamp(100px, 60%, 500px);
}

.username-input {
  width: 100%;
  padding: 0.3rem;
  font-size: 2rem;
}

.accounts-section {
  width: 100%;
  background-color: var(--card-background);
  border-left: 1px solid var(--border);
  border-right: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  overflow: hidden;
}
