.h1 {
  font-size: 3.5rem;
  text-align: center;
  margin-top: 10rem;
  cursor: default;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3rem auto;
  width: clamp(100px, 60%, 600px);
}

.username-input {
  width: 100%;
  padding: 0.3rem;
  font-size: 2rem;
}
