@keyframes loading {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.backdrop {
  background-color: black;
  opacity: 0.2;
  top: 0;
  left: 0;
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

.modal {
  position: fixed;
  z-index: 2;
  background-color: var(--card-background);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--border);
  border-radius: 0.5rem;
  padding: 2rem 1rem;
  width: clamp(300px, 70%, 500px);
  height: 60%;
}

.header {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

.header-btn {
  font-size: 1.5rem;
  font-family: inherit;
  padding: 0.5rem;
  border: none;
  background-color: transparent;
  opacity: 0.7;
  cursor: pointer;
  transition: transform 0.3s;
}

.header-btn:hover {
  transform: scale(1.05);
}

.active-header-btn {
  opacity: 1;
  font-weight: bold;
}

.loading-container {
  position: relative;
  height: 100%;
}

.loading-icon {
  width: 100px;
  position: absolute;
  left: 50%;
  top: calc(50% - 20px);
  animation-name: loading;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

.error {
  color: var(--error);
  margin-top: 2rem;
  display: inline-block;
  text-align: center;
  width: 100%;
}

.accounts-list {
  height: 100%;
  width: 100%;
  overflow: auto;
}
