.backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.4;
  z-index: 2;
}

.modal {
  z-index: 3;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--card-background);
  border: 1px solid var(--border);
  border-radius: 0.5rem;
  padding: 2rem;
  width: clamp(150px, 50%, 400px);
  height: max-content;
  overflow-y: auto;
  gap: 2rem;
  display: flex;
  flex-direction: column;
}

.heading {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 0.7rem;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.8rem;
}

.input-container {
  display: flex;
  gap: 0.9rem;
  align-items: center;
  width: 75%;
}

.input-label {
  font-size: 1.1rem;
}

.btns {
  display: flex;
  gap: 1rem;
}

.btn {
  padding: 0.5rem;
  font-size: 1.1rem;
  border: none;
  border-radius: 0.5rem;
  transition: transform 0.3s;
  cursor: pointer;
  font-family: inherit;
}

.btn:hover {
  transform: scale(1.05);
}

.change-btn {
  background-color: var(--btn);
  color: white;
}

.remove-btn {
  background-color: var(--btn-secondary);
}
