.container {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  grid-auto-rows: 55px;
  width: 100%;
  list-style-type: none;
  background-color: var(--card-background);
}

.no-accounts-msg {
  justify-self: center;
  font-size: 1.2rem;
  opacity: 0.8;
  cursor: default;
}
