.modal-backdrop {
  background-color: black;
  opacity: 0.2;
  top: 0;
  left: 0;
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

.cancel-modal {
  position: fixed;
  z-index: 2;
  background-color: var(--card-background);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--border);
  border-radius: 0.5rem;
  gap: 2rem;
  padding: 2rem;
  width: clamp(300px, 65%, 650px);
}

.modal-question {
  font-size: 2.5rem;
  text-align: center;
}

.modal-btns {
  display: flex;
  gap: 1rem;
}

.modal-btn {
  font-size: 1.3rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  transition: transform 0.3s;
}

.modal-btn:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.modal-cancel-btn {
  background-color: var(--btn);
  color: white;
}

.modal-no-btn {
  background-color: var(--btn-secondary);
}
