.card {
  border: 2px solid var(--border);
  background-color: var(--card-background);
  padding: 1.5rem;
  width: clamp(400px, 60%, 800px);
  gap: 2.2rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
}

.author-section {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.avatar-container {
  width: 40px;
  height: 40px;
  border: 1px solid var(--border);
  border-radius: 50%;
  overflow: hidden;
}

.avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.author {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 0.3rem;
  position: relative;
  top: 3px;
}

.content {
  font-size: 1.2rem;
  opacity: 0.8;
}

.post-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post-date {
  opacity: 0.6;
  font-size: 1.1rem;
  align-self: end;
  cursor: default;
}

.latest-comments {
  border: 1px solid var(--border);
  border-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.comments-heading {
  font-size: 1.3rem;
  font-weight: bold;
  border: none;
  background-color: transparent;
  width: max-content;
  cursor: pointer;
  transition: transform 0.3s;
}

.comments-heading:hover {
  transform: scale(1.05);
}

.comments-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  border-collapse: collapse;
  list-style-type: none;
}

.comment {
  font-size: 1.1rem;
  border-top: 1px solid var(--border);
  border-left: 1px solid var(--border);
  border-right: 1px solid var(--border);
  width: 100%;
  padding: 1rem;
}

.comment > span {
  opacity: 0.9;
}

.comment:last-child {
  border-bottom: 1px solid var(--border);
}
