.card {
  border: 2px solid var(--border);
  background-color: var(--card-background);
  padding: 1.5rem;
  width: clamp(400px, 60%, 800px);
  gap: 2.5rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
}

.author {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 0.3rem;
}

.content {
  font-size: 1.2rem;
  opacity: 0.8;
}

.post-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post-info {
  display: flex;
  gap: 1rem;
  font-size: 1.5rem;
  border: 1px solid var(--border);
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: max-content;
}

.post-date {
  opacity: 0.6;
  font-size: 1.1rem;
  align-self: end;
  cursor: default;
}

.likes {
  display: flex;
  gap: 0.2rem;
  align-items: center;
  cursor: default;
}

.like-btn {
  border: none;
  background: transparent;
  position: relative;
  top: 4px;
  transition: transform 0.3s;
}

.like-btn:hover {
  transform: scale(1.15);
  cursor: pointer;
}

.like-icon {
  width: 25px;
}

.comments {
  font-family: inherit;
  font-size: 1.7rem;
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  gap: 0.2rem;
  cursor: pointer;
  transition: transform 0.3s;
}

.comments:hover {
  transform: scale(1.15);
}

.comments-icon {
  width: 25px;
  position: relative;
  top: 2px;
}
