@keyframes loading {
  100% {
    transform: rotate(360deg);
  }
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.logo {
  font-size: 6rem;
  font-weight: 700;
}

.loading-icon {
  width: 100px;
  animation-name: loading;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
