@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 0.7;
    transform: translateY(0);
  }
}

.h1 {
  font-size: 5rem;
  text-align: center;
  margin: 7rem auto 3rem;
  cursor: default;
}

.error {
  color: var(--error);
  text-align: center;
  font-size: 1.5rem;
  margin: 2rem auto;
  animation-name: fadeIn;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

.form {
  display: grid;
  margin: 0 auto;
  grid-template-columns: max-content 275px;
  justify-content: center;
  align-items: center;
  row-gap: 0.7rem;
  column-gap: 1rem;
}

.label,
.input {
  font-size: 2rem;
}

.input {
  padding: 0.3rem 0.5rem;
}

.btn-container {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
}

.register-btn {
  background-color: var(--btn);
  transition: transform 0.5s;
  border: none;
  color: white;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  margin-top: 1.2rem;
}

.register-btn:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.login-msg {
  text-align: center;
  font-size: 1.3rem;
  opacity: 0.6;
  margin-top: 1.5rem;
  cursor: default;
}

.login-link {
  background-color: var(--btn-secondary);
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: black;
  text-decoration: none;
  transition: transform 0.5s;
  display: inline-block;
}

.login-link:hover {
  transform: scale(1.1);
}
